@model CarpoolManagement.Common.Models.TravelPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TravelPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.StartLocation, "Start Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartLocation)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EndLocation, "End Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndLocation)
        </dd>

        <dt>
            @Html.LabelFor(model => model.StartDate, "Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EndDate, "End Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
