@using System.Linq
@model IEnumerable<CarpoolManagement.Common.Models.TravelPlan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("<<< Back", "Index", "Home")
    |
    @Html.ActionLink("Create New", "Create")
    |
    @Html.ActionLink("Monthly View", "MonthlyView")
</p>
<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().StartLocation, "Start Location")
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().EndLocation, "End Location")
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().StartDate, "Start Date")
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().EndDate, "End Date")
        </th>
        <th>
            @Html.LabelFor(model => model.FirstOrDefault().Car, "Car")
        </th>
        <th>
            <label>Employees</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink(item.Car.Name, "Details", "Carpools", new { id = item.CarId }, null)
        </td>
        <td>
            @foreach (var el in item.EmployeeTravelPlans)
            {
                @Html.ActionLink(el.Employee.Name, "Details", "Employees", new { id = el.EmployeeId }, null)
                <br>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
