@model CarpoolManagement.Common.Models.Carpool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carpool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CarType, "Car Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Plates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plates)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NumberOfSeats, "Number of Seats")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
